.postcontent {
	margin: 10px;
	margin-top: 20px;
}
.postcontent h1, .postcontent h2, .postcontent h3, .postcontent h4, .postcontent h5, .postcontent h6 {
	padding-top: 10px;
	padding-bottom: 3px;
}
.postcontent h1 {
	font-size: 18px;
	color: #DEBE1D;
}
.postcontent h2 {
	font-size: 16px;
	color: #DEBE1D;
	background: none;
	padding: 0px;
}
.postcontent h3 {
	font-size: 14px;
	color: #DEBE1D;
}
.postcontent h4 {color: #707070;}
.postcontent h5 {color: #707070;}
.postcontent h6 {color: #707070;}
.postcontent p  {margin: 0px;}
.postcontent hr {color: #707070;}
.postcontent code {}
.postcontent blockquote {
	color: #707070;
	padding-left: 5px;
	border-left: 3px solid #707070;
}
hr {color: #C81C26;}