html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Bahnschrift';
	overflow-x: hidden;
}
a, a:active, a:visited {
	color: inherit;
}
/* Color palette */
.red {color: #E30613;}
.dark.red {color: #C81C26;}
.gray {color: #F1F1F1;}
.dark.gray {color: #707070;}
.yellow {color: #FFD500;}
.dark.yellow {color: #DEBE1D;}
.white {color: #ffffff;}
.dark.white {color: #000000;}

.bg-red {background-color: #E30613;}
.bg-dark.bg-red {background-color: #C81C26;}
.bg-gray {background-color: #F1F1F1;}
.bg-dark.bg-gray {background-color: #707070;}
.bg-yellow {background-color: #FFD500;}
.bg-dark.bg-yellow {background-color: #DEBE1D;}
.bg-white {background-color: #ffffff;}
.bg-dark.bg-white {background-color: #000000;}

.icon {
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center;
	width: 24px!important;
	height: 24px!important;
	display: inline-block;
	color: transparent;
}

.icon.add {background-image: url("icons/red/add.png");}
.icon.back {background-image: url("icons/red/back.png");}
.icon.remove {background-image: url("icons/red/remove.png");}
.icon.search.red {background-image: url("icons/red/search.png");}
.icon.search.yellow {background-image: url("icons/yellow/search.png");}

h1, h2, h3, h4 {margin: 0;}
h1 {
	color: #C81C26;
	font-size: 20px;
	font-weight: bold;
}
h2 {
	color: #707070;
	font-size: 16px;
	font-weight: normal;
	background: linear-gradient(90deg, transparent 1%, #fff 1%, #fff 180px, transparent 180px),
				linear-gradient(0deg, transparent 45%, #707070 50%, transparent 55%);
	padding-left: 2%;
}
h3 {
	color: #E30613;
	font-size: 18px;
	font-weight: bold;
}
h4 {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

#overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #00000088;
	z-index: 100;
	top: 0;
}
#overlay form {
	margin: 140px 40px;
	padding: 20px;
	background-color: #ffffff;
}
#overlay form * {
	margin: 5px;
}
#overlay textarea.rich {
	margin: 5px 20px;
	width: calc(100% - 40px);
	width: moz-available;
	max-width: calc(100vw - 180px);
	height: 400px;
	max-height: 600px;
}
#overlay table tr td:nth-child(1) {
	width: 120px;
}

.logo {
	height: 40px;
}
#header {
	height: 40px;
}
#header * {
	display: inline-block;
}
#header span {
	font-size: 28px;
	position: relative;
	top: -0.35em;
}
#header #contact {
	float: right;
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 12px;
}
#tabs {
	height: 60px;
}
#tabs .links {
	width: 150px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	font-weight: bold;
	font-size: 24px;
}
#tabs .links:before {
	content: "";
	background-image: url("icons/yellow/arrow.png");
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: center -7px;
	position: relative;
	width: 24px;
	height: 24px;
	display: inherit;
}
#tabs .links.icon {
	padding: 0px 10px;
}
#tabs .links.icon:before {
	display: none;
}
#tabs .links.active:before {
	background-image: url("icons/yellow/arrow_sel.png");
}
#login {
	padding: 20px;
}
.box {
	padding: 10px;
	padding-top: 10px !important;
	overflow-x: hidden;
	overflow-y: auto;
}
.box, .panel {
	height: 100px;
	padding: 20px;
	padding-top: 10px!important
}
.post {
	font-weight: normal;
	margin-bottom: 10px;
	border: 0px hidden;
	border-bottom: 1px solid #707070;
}
.post {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	font-style: italic;
	font-size: 14px;
}
.post a {
	font-style: normal;
}

.options:hover span a {
	display: inherit !important;
}
.button {
	width: 90px;
	height: 20px;
	padding: 0.5em;
	margin: 10px;
	text-align: center;
}
.button:hover {
	color: #FFD500;
	background-color: #C81C26;
}
#functions {
	list-style: none;
	padding: 5px;
}
#footer {
	height: 20px;
	padding: 5px;
	text-align: center;
	position: sticky;
	bottom: 0px;
}